// const
{% for const in dic.const %}\
{%  for param in const.params %}\
var ${ const.toUCamel("name") }${ param.toUCamel("name") } = ${ param.data.value }; // ${ param.data.comment }
{%  end %}\
{% end %}\

// enum
{% for enum in dic.enum %}\
{%  for param in enum.params %}\
var ${ enum.toUCamel("name") }${ param.toUCamel("name") } = ${ param.data.value }; // ${ param.data.comment }
{%  end %}\
// flag
{%  for flag in enum.flags %}\
var ${ flag.toUCamel("name", enum.toLower("name")+'_', '_flag') } = ${ flag.data.value }; // ${ flag.data.comment }
{%  end %}\
// group
{%  for group in enum.groups %}\
var ${ group.toUCamel("name", enum.toLower("name")+'_', '_group') } = ${ group.expand(lambda x : x.toUCamel(), enum.toLower("name")+'_', '_flag') }; // ${ group.data.comment }
{%  end %}\
{% end %}\

